* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: rgb(31, 39, 75);

    min-height: 100%;
  }


  html{
      height: 100%;
  }
  
  /* Page Layout */
  .columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    max-width: 960px;
    margin-top: 25px;
  }

  .title{
    display: inline-block;
    background-color: rgba(232, 238, 156, 0.8);
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .wrapper-title {
    display:flex;
    flex-direction: column;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  
  }
